/* start of lib css https://github.com/tofsjonas/sortable/blob/main/sortable-base.css */
.sortable thead th:not(.no-sort) {
    cursor: pointer;
  }
  .sortable thead th:not(.no-sort)::after, .sortable thead th:not(.no-sort)::before {
    transition: color 0.1s ease-in-out;
    color: transparent;
  }
  .sortable thead th:not(.no-sort)::after {
    content: "▸";
  }
  .sortable thead th:not(.no-sort):hover::after {
    color: inherit;
  }
  .sortable thead th:not(.no-sort)[aria-sort=descending]::after {
    color: inherit;
    content: "▾";
  }
  .sortable thead th:not(.no-sort)[aria-sort=ascending]::after {
    color: inherit;
    content: "▴";
  }
  .sortable thead th:not(.no-sort).indicator-left::after {
    content: "";
  }
  .sortable thead th:not(.no-sort).indicator-left::before {
    margin-right: 3px;
    content: "▸";
  }
  .sortable thead th:not(.no-sort).indicator-left:hover::before {
    color: inherit;
  }
  .sortable thead th:not(.no-sort).indicator-left[aria-sort=descending]::before {
    color: inherit;
    content: "▾";
  }
  .sortable thead th:not(.no-sort).indicator-left[aria-sort=ascending]::before {
    color: inherit;
    content: "▴";
  }
  /* end of lib CSS*/