@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root{
  --color-primary: #6C9BCF;
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-warning: #F7D060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Reset some default margin and padding */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}



/* Style the header */
header {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
}

#logo {
  font-size: 24px;
}

/* Style the main input container */
#input-container {
  margin-right: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 2rem;
}

input[type="text"], input[type="checkbox"] {
  width: 100%;
  padding: 0.5rem;
  margin: 0rem;
}

/* Style the footer */
#footer {
  background-color: var(--color-primary);
  color: #fff;
  padding: 2rem;
  text-align: center;
  position: absolute;
  bottom: 0rem;
  width: 100%;
}



/* Style the results box */
.results-box {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* Style table headers */
thead th {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 10px;
}

/* Style table rows */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style table data cells */
th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Style the open button */
.open-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.open-button:hover {
  background-color: #0056b3;
}